<div class="mb-3">
	<div class="text-lg text-slate-500 dark:text-slate-400">
		<a href="{{ path('app_profile', { id: post.author.id}) }}">{{ post.author.email }}</a>
	</div>
	<div class="text-2xl">
		<a href="{{ path('app_micro_post_show', {post: post.id}) }}">
			{{post.title}}
		</a>
	</div>
	<div class="text-xl dark:text-slate-200">
		{{ post.text }}
	</div>
	<div class="text-sm text-slate-500 dark:text-slate-300">
		{{ post.created | date('M j, Y')}}
	</div>

	<div>
		{% if post.likedBy.contains(app.user) %}
			<a href="{{ path('app_unlike', {id: post.id}) }}">
				Unlike
				<span class="px-2 rounded-md bg-slate-200 dark:bg-gray-700">{{ post.likedBy.count }}</span>
			</a>
		{% else %}
			<a href="{{ path('app_like', {id: post.id}) }}">
				Like
				<span class="px-2 rounded-md bg-slate-200 dark:bg-gray-700">{{ post.likedBy.count }}</span>
			</a>
		{% endif %}
	</div>
	<div>
		<a href="#">
			Comment
			<span class="px-2 rounded-md bg-slate-200 dark:bg-gray-700">{{post.comments.count}}</span>
		</a>
	</div>
</div>
