{% extends 'base.html.twig' %}

{% block title %}Post -
	{{post.title}}
{% endblock %}

{% block bread %}
	> Post
{% endblock %}

{% block body %}
	{{ include('micro_post/_post.html.twig', {post: post})}}

	<div class="flex">
		<a href=" {{ path('app_micro_post_edit', {post: post.id} ) }}" class="bg-sky-600 mr-5 text-white py-1 px-3 rounded mt-3 dark:bg-sky-600 hover:bg-sky-700 dark:hover:bg-sky-500 rounded-md" type='submit'>Edit</a>
		<a href=" {{ path('app_micro_post_comment', {post: post.id} ) }}" class="bg-sky-600 text-white py-1 px-3 rounded mt-3 dark:bg-sky-600 hover:bg-sky-700 dark:hover:bg-sky-500 rounded-md" type='submit'>Comment</a>
	</div>

	<div class="mt-10">
		{% for comment in post.comments %}
			<div>
				<div class="flex items-center">
					<div class="inline-block bg-gray-200 dark:bg-gray-700 rounded-full text-3xl w-8 h-8 ring-2 ring-white dark:ring-gray-600 mr-2"></div>
					<div>
						<div class="font-medium text-slate-800 dark:text-gray-300">{{ comment.author.email }}</div>
						<div class="font-light text-slate-600 dark:text-gray-500">{{ comment.created | date('M j, Y') }}</div>
					</div>
				</div>
				<div class="flex">
					<div class="border border-slate-200 dark:border-slate-600 ml-4 mr-6 pb-12"></div>
					<div>{{ comment.text }}</div>
				</div>
			</div>
		{% endfor %}
	</div>

{% endblock %}
